body.dark {
    background: #292C35;
    color: white;
}
.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    height: 50px;
    width: 50px;
    color: white;
}